:root {
--backgroundcolor: #264653;
--light-background: #FAFAFA;
--darkcolor: #EDEDED;
--lightcolor: #e76f51;
--mediumcolor: #2a9d8f;
}

#menu {
	position: fixed;
}

.mountain-image {
	width: 60%;
}

.bottom-container {
	background-color: var(--light-background);
}

.bottom-cloud{
	position: absolute;
	left: 30%;
}

.full-height {
  height: 100%;
}

.image {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.middle-container {
	background-color: var(--light-background);
	padding-top: 50px;
}

.title-container {
	padding-top: 50px;
	color: var(--mediumcolor);
	font-size: 30px;
}

.main-title {
	font-family: 'Sacramento', cursive;
}

.top-cloud{
	position: absolute;
	left: 60%;
}

.top-container {
	background-color: var(--darkcolor);
	height: 100%;
	padding-top: 70px;
	position: relative;
}

a {
	color: var(--lightcolor);
}

a:hover {
	color: var(--mediumcolor);
}

a:visited {
	color: var(--lightcolor);
}

body {
	font-family: PTSans, sans-serif;
	margin: 0;
	text-align: center;
}

h1 {
	margin: 0;
}

h2 {
	color: var(--lightcolor);
}

h3 {
	color: var(--backgroundcolor);
}

hr {
		border-color: var(--mediumcolor);
		border-style: none;
		border-top-style: dotted;
		border-width: 10px;
		margin: auto;
		width: 5%;
}

html, body {
  height: 100%;
}

p {
	color: var(--backgroundcolor);
}









/* .center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



.red {
	color: var(--lightcolor);
}

body {
    background-color: var(--darkcolor);
}



h1 {
	color: var(--lightcolor);
	font-family: PTSans, sans-serif;
}

h2 {
	color: var(--lightcolor);

}

h3 {
	color: var(--backgroundcolor);
	font-family: PTSans, sans-serif;
}

h4 {
	color: var(--lightcolor);
	font-family: PTSans, sans-serif;
}

li {
	color: var(--backgroundcolor);
	font-family: PTSans, sans-serif;
}

a {
	font-family: PTSans, sans-serif;
}

a:visited {
	color: var(--lightcolor);
}

a:hover {
	color: var(--mediumcolor)
}

p {
	color: var(--backgroundcolor);
	font-family: PTSans, sans-serif;
}

td {
	color: var(--backgroundcolor);
	font-family: PTSans, sans-serif;
}

th {
	color: var(--backgroundcolor);
	font-family: PTSans, sans-serif;
} */
